<div class="right-sidebar">
  <div class="slimscrollright">
    <div class="rpanel-title"> Settings <span><i class="icon-close right-side-toggler"></i></span> </div>
    <nav class="sidebar-nav">
      <ul id="side-menu">
        <li>
          <%= link_to(destroy_user_session_path, method: :delete, class:"waves-effect") do %>
            <i class="fa fa-power-off"></i>
            <span class="hide-menu"> Log Out </span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>
