<aside class="sidebar" role="navigation">
  <div class="scroll-sidebar">
    <div class="user-profile">
      <div class="dropdown user-pro-body">
        <div class="profile-image">
          <%= image_tag "avatar.png", class: "img-circle" %>
        </div>
        <p class="profile-text m-t-15 font-16"><a href="javascript:void(0);"> Niel Sarvari</a></p>
      </div>
    </div>
    <nav class="sidebar-nav">
      <ul id="side-menu">
        <li>
          <a class="waves-effect" href="javascript:void(0);" aria-expanded="false">
            <i class="icon-screen-desktop fa-fw"></i>
            <span class="hide-menu"> Dashboard </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
