.page-wrapper {
  min-height: 100vh !important;
}

.round-button-small {
  border: 2px solid #e5ebec;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  line-height: 28px;
}

.action {
  font-size: 18px;
  color: #333b3f;
  margin: 0 5px;
}
.action.delete {
  color: #e74a25;
}
.action.edit {
  color: #00bbd9;
}
.action.assign {
  color: #ffb136;
}

.checkbox-label {
  padding-left: 10px !important;
}

td, th {
  text-align:center;
}
