// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// edit.html.erb
.dropify-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.dropify-preview {
  padding: 0px !important;
}

.dropify-render img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

#admin-label {
  padding-left: 10px !important;
}

.action {
  font-size: 18px;
  color: #333b3f;
  margin: 0 5px;
}
.action.delete {
  color: #e74a25;
}
.action.edit {
  color: #00bbd9;
}
.action.assign {
  color: #ffb136;
}
