// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// edit.html.erb
.dropify-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.dropify-preview {
  padding: 0px !important;
}

.dropify-render img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

#admin-label {
  padding-left: 10px !important;
}

#user-edit-box-title {
  margin-bottom: 0px;
}
