<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="white-box">
        <% if current_user.admin? %>
          <h3 class="box-title">New Achievement</h3>
        <% else %>
          <h3 class="box-title">Request An Achievement</h3>
          <p class="m-b-30">The Achievement will show up as a request for your team admin to review</p>
        <% end %>

        <%= render 'form', achievement: @achievement %>
      </div>
    </div>
  </div>
</div>
